<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to your custom CSS file -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <H1>Employee Management System</H1>
        <hr>
        <h2>Save Employee</h2>
        <form th:action="@{/saveEmployee}" th:object = "${employee}"  method = "POST">
            <input type="text" th:field = "*{firstName}" placeholder="Employee first Name" class="form-control mb-4 col-4">
            <input type="text" th:field = "*{lastName}" placeholder="Employee last Name" class="form-control mb-4 col-4">
            <input type="text" th:field = "*{email}" placeholder="Employee email" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2">Save Employee</button>

        </form>
    </div>
</body>
</html>